.anime-pictures {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 120px 30px 120px;
  max-width: 100vw;
}

.anime-pictures__item {
  padding: 0;
  width: 300px;
  max-width: 300px;
  max-height: 100vh;
  overflow: hidden;
  border-radius: 20px;
  transition: transform 0.3s;
  padding: 10px 0px;
}

.anime-pictures__item img {
  width: 300px;
  max-height: 100vh;
  object-fit: cover;
  transition: transform 0.3s;
}